.CpuCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 5%;
}
.CpuSpec {
  --auto-grid-min-size-h: 25px;
  --auto-grid-min-size-w: 30%;
  display: grid;
  position: relative;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size-w), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--auto-grid-min-size-h), 1fr));
  grid-gap: 10px;
}
.CpuList input {
  position: relative;
  width: 90%;
  left: 5%;
  font-size: 20px;
  border: 1px solid rgba(228, 0, 55, .7);
  background: transparent;
  padding: 7px;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  transition: all .2s ease-in-out;
  color: white;
}
.CpuList input:hover,
.CpuList input:focus {
  border: 1px solid #E40037;
}
.CpuList input:active {
  border: 1px solid #E40037;
}
.CpuSpec p {
  font-size: 20px;
  line-height: 25px;
}
.CpuSpec span {
  font-size: 24px;
}
.Cores {
  --auto-grid-min-size-h: auto;
  --auto-grid-min-size-w: auto;
  display: grid;
  position: relative;
  //width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size-w), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--auto-grid-min-size-h), 1fr));
}
.Cores p {
  margin-bottom: 0;
}
.CpuSecond {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 400px;
  position: relative;
}
.CpuFirst span {
  color: white !important;
}
.CpuItem {
  //border-top: 1px solid #E40037;
  border-bottom: 2px solid rgba(255, 255, 255, .4);
  height: auto;
  padding-bottom: 5%;
  //border-radius: 10px;
}
.CpuItem:hover,
.CpuItem:focus {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .4);
  transition: all .6s ease;
}
.Spec {
  --auto-grid-min-size-h: auto;
  --auto-grid-min-size-w: 40%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size-w), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--auto-grid-min-size-h), 1fr));
  grid-gap: 5px;
  margin-left: 5%;
}
.Spec span {
  color: white;
  font-size: 16px;
}
.Spec span:nth-child(1) {
  /*grid-column: 2;
  grid-row: 1;*/
  color: white;
  font-size: 16px;
}
.Spec span:nth-child(2) {
  /*grid-column: 1;
  grid-row: 2;*/
  color: white;
  font-size: 16px;
}
.Spec span:nth-child(3) {
  /*grid-column: 2;
  grid-row: 2;*/
  color: white;
  font-size: 16px;
}
.CpuList {
  position: relative;
  width: 55%;
  overflow-y: scroll;
  max-height: 100%;
}
.CpuSecond p {
  position: relative;
  width: 40%;
  font-size: 20px;
}
.Wrapper {
  //width: auto;
  position: fixed;
  z-index: 401;
  width: 70%;
  left: 15%;
  top: 20px;
  //height: 500px;
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  height: auto;
  padding-bottom: 50px;
  //border: 2px solid #E40037;
  border-radius: 10px;
  background-color: rgba(33, 36, 40, .975);
  //background-color: rgba(0, 0, 0, .9);
  border: 2px solid #E40037;
}

.Wrapper::-webkit-scrollbar {
  width: 10px !important;
  background: transparent;
  opacity: 0.8;
}

.Wrapper::-webkit-scrollbar-thumb  {
  width: 10px !important;
  background: #E40037;
  border-radius: 5px;
}

.CpuFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  //height: 80%;
  //top: 20%;
  width: 100%;
  //left: 10%;
}
.CpuFirstLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  top: 50px;
  width: 100%;
  padding-bottom: 15%;
  position: relative;
}
.CpuFirstLinks a {
  font-size: 20px;
  text-align: center;
  padding-right: 10px;
  //line-height: 30px;
}
.CpuLink {
  position: relative;
  width: 50%;
}
.LastCpuLinks {
  display: grid;
  --auto-grid-min-size-h: auto;
  --auto-grid-min-size-w: 50%;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size-w), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--auto-grid-min-size-h), 1fr));
}
.LastCpuLinks a {
  position: relative;
  //width: 50%;
}
.LastCpuLinks a:hover,
.LastCpuLinks a:focus {
  color: #E40037;
  transition: all .3s ease;
}
.LastCpuLinks a:first-child {
  //padding-right: 5px;
  //margin-right: 15px;
  border-right: 1px solid #E40037;
}

.CpuLink p {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #E40037;
}
.CpuLink:first-child {
  border-right: 1px solid #E40037;
}
.CpuLink:last-child {
  display: flex;
  flex-direction: column;
  //width: 40%;
}
.Wrapper button {
  width: 10%;
  background-color: transparent;
  //width: auto;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  left: 90%;
  position: absolute;
  z-index: 120;
}

.Wrapper button:hover,
.Wrapper button:focus,
.Wrapper a:hover,
.Wrapper a:focus{
  cursor: pointer;
}

.Cpu {
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Cpu h1 {
  font-size: 25px;
  font-weight: 100;
  width: 100%;
  text-align: center;
}

.Spec p {
  /*grid-column: 1;
  grid-row: 1;*/
  font-size: 16px;
  font-weight: 100;
  width: 100%;
  margin: 0;
}
.CpuItem h1 {
  font-size: 20px;
  color: #E40037;
  line-height: 25px;
  height: 25px;
  padding-bottom: 0;
  padding-top: 0;
}
.Spec span {
  text-transform: none;
  font-size: 16px;
  text-align: left;
}
.CpuList::-webkit-scrollbar {
  width: 10px !important;
  background: transparent;
  opacity: 0.8;
}

.CpuList::-webkit-scrollbar-thumb  {
  width: 10px !important;
  background: #E40037;
  border-radius: 5px;
}
.Wrapper h1 {
  font-weight: 100;
}

.CpuSpec button {
  position: relative;
  width: 60%;
  background-color: #E40037;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  font-size: 20px;
  left: 20%;
  font-weight: 100;
}
.CpuSecond button {
  position: relative;
  width: 40%;
  background-color: #E40037;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  font-size: 20px;
  left: 0;
}
.CpuSecond p {
  display: flex;
  flex-direction: column;
}

.CpuHelp {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //max-height: 600px;
  //overflow-y: scroll;
}

.CpuSecond a {
  text-decoration: underline;
  margin-top: 5px;
  width: 200px;
}

.CpuSecond a:hover,
.CpuSecond a:focus {
  color: #E40037;
}

.CpuHelp button {
  position: relative;
  width: 30% !important;
  background-color: #E40037;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  font-size: 20px;
  left: 0 !important;
}

.CpuHelp::-webkit-scrollbar {
  width: 10px !important;
  background: transparent;
  opacity: 0.8;
}

.CpuHelp::-webkit-scrollbar-thumb  {
  width: 10px !important;
  background: #E40037;
  border-radius: 5px;
}



@media (max-width: 425px) {
  .CpuList::-webkit-scrollbar {
    width: 5px !important;
    background: transparent;
    opacity: 0.8;
  }

  .CpuList::-webkit-scrollbar-thumb  {
    width: 5px !important;
    background: #E40037;
    border-radius: 5px;
  }
  .CpuHelp::-webkit-scrollbar {
    width: 5px !important;
    background: transparent;
    opacity: 0.8;
  }

  .CpuHelp::-webkit-scrollbar-thumb  {
    width: 5px !important;
    background: #E40037;
    border-radius: 5px;
  }
  .CpuFirstLinks {
    flex-direction: column;
  }
  .LastCpuLinks a:first-child {
    border-right: none;
    border-bottom: 1px solid #E40037;
    padding-bottom: 7px;
  }
  .CpuLink:first-child {
    border-right: none;
  }
  .LastCpuLinks {
    --auto-grid-min-size-h: auto;
    --auto-grid-min-size-w: 80%;
    grid-gap: 15px;
  }
  .Wrapper {
    padding-bottom: 10%;
    width: 90% !important;
    left: 5%;
    height: calc(100vh - 150px) !important;
    overflow-x: hidden;
  }
  .Wrapper button {
    width: 30%;
    left: 75%;
  }
  .Wrapper::-webkit-scrollbar {
    width: 5px !important;
    background: transparent;
    opacity: 0.8;
  }

  .Wrapper::-webkit-scrollbar-thumb  {
    width: 5px !important;
    background: #E40037;
    border-radius: 5px;
  }
  //.Wrapper svg {
  //  fill: white !important;
  //}
  .CpuSecond {
    flex-direction: column-reverse;
    height: auto;
  }
  .CpuList {
    width: 100%;
    overflow-x: hidden;
    height: 60%;
    max-height: 400px;
  }
  .CpuSecond p {
    left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .CpuSecond button {
    width: 40%;
    left: 0;
    font-size: 16px;
    padding: 5px;
  }
  .CpuList p {
    left: 0;
  }
  .CpuSpec {
    --auto-grid-min-size-h: auto;
    --auto-grid-min-size-w: 80%;
  }
  .CpuSpec p:nth-child(n) {
    border-right: none !important;
    font-size: 18px;
  }
  .CpuSpec button {
    width: 70%;
    left: 15%;
  }
  .CpuHelp {
    width: 95% !important;
  }
  .CpuHelp h1 {
    font-size: 20px;
  }
  .CpuHelp button {
    width: 60% !important;
  }
  .Spec {
    --auto-grid-min-size-w: 80%;
  }
  .CpuCard button {
    font-size: 14px;
    padding: 5px;
    width: 40%;
    left: 0;
    margin-right: 10px;
  }
}